.SplashScreen {
  width: 100%;
  height: 100%;
  position: relative;

  .PreloaderContainer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 240px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}